.content {
    padding-top: 20px;
    padding-bottom: 50px; 
}

.section-header {
    border-bottom: 1px dotted #333;
    padding-bottom: 10px;
}

h4 {
    font-family: "Cloud-Light";
    margin-bottom: 5px;
    margin-top: 0px;
}