
.page-hero {
    background-image: url("../img/facilities_bg.jpg");
    background-position-y: -700px;
    background-position-x: center;
    background-size: cover;
}
.page-hero .overlay {
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    color: #FFF;
}
.page-hero .text {
    padding: 100px 0;
    width: 45%;
    display: block;
    margin: 0 auto;
}
.page-hero .overlay h1 {
    font-family: "Cloud-Light";
    color: #FFF;
}
.content {
    padding-top: 40px;
    padding-bottom: 50px; 
}



.fac-header {
    font-family: "Cloud-Light";
    padding-bottom: 10px;
    margin-bottom: 0;
}
.fac-image {
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    padding-bottom: 10px;
}
.fac-image img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.fac-text {
    text-justify: distribute;
} 




@media (min-width: 1200px) {
    /*large*/

} 
@media (max-width: 1199px) and (min-width: 992px) {
    /*medium*/
    .page-hero {
        background-position-y: -300px;
    }

}
@media (max-width: 991px) and (min-width: 768px) {
    /*small*/
    .page-hero {
        background-position-y: -200px;
    }
    .page-hero .text {
         width: 60%; 
    }

}
@media (max-width: 767px) {
    /*extra small*/
    .page-hero {
        background-position-y: 0px;
    }
    .page-hero .overlay h1 {
        font-size: 50px;
    }
    .page-hero .text {
         width: 100%; 
    }
}