.page-hero {
    background-image: url("../img/prospective_bg.jpg");
    background-position-y: -300px;
    background-position-x: center;
    background-size: cover;
}
.page-hero .overlay {
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    color: #FFF;
}
.page-hero .text {
    padding: 100px 0;
    display: block;
}
.page-hero .overlay h1 {
    font-family: "Cloud-Light";
    color: #FFF;
}

.open-text {
    padding-bottom: 25px;
}

.section-header {
    border-bottom: 1px dotted #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}



.content {
    padding-top: 40px;
    padding-bottom: 50px; 
}
.degree-wrap {
    color: #b0000f;
    padding: 50px 40px;
    margin: 20px 0;
    border: 1px solid #d5d8d9;
    -moz-box-shadow: #C3C6C7 2px 2px 5px -2px;
    -webkit-box-shadow: #C3C6C7 2px 2px 5px -2px;
    box-shadow: #C3C6C7 2px 2px 5px -2px;
    background: #fff;
    overflow: hidden;
}
.degree-wrap h2 {
    margin-top: 0px;
    padding-top: 0px;
    font-family: "Cloud-Light";
}
.degree-wrap .descroption {
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
}

.btn.btn-trans {
    color: #b0000f;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 2px #b0000f;
    -moz-box-shadow: inset 0px 0px 0px 2px #b0000f;
    box-shadow: inset 0px 0px 0px 2px #b0000f;
}
.btn.btn-trans:hover {
    color: #b0000f;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 2px #b0000f;
    -moz-box-shadow: inset 0px 0px 0px 2px #b0000f;
    box-shadow: inset 0px 0px 0px 2px #b0000f;
    text-decoration: underline;
}

.other-info {
    list-style: none;
    margin: 0;
    padding: 0;
}
.other-info li {
    padding: 10px 0;
}
.other-info li a {
    font-size: 17px;
    color: #b0000f;
}
.other-info li a:hover {
    text-decoration: underline;
}

@media (min-width: 1200px) {
    /*large*/

} 
@media (max-width: 1199px) and (min-width: 992px) {
    /*medium*/
    .page-hero {
        background-position-y: -120px;
    }

}
@media (max-width: 991px) and (min-width: 768px) {
    /*small*/
    .page-hero {
        background-position-y: -120px;
    }
    .page-hero .text {
        padding: 50px 0;
        width: 100%;
        display: block;
    }

}
@media (max-width: 767px) {
    /*extra small*/
    .page-hero {
        background-position-y: 0px;
    }
    .page-hero .text {
        padding: 20px 0;
        width: 100%;
        display: block;
    }
    
}